@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body,
p {
    padding: 0;
    margin: 0;
}

body {
    background: #272726;
}

label {
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    color: #777776;
    display: block;
}

div#controls {
    padding: 3em;
    max-width: 1200px;
    margin: 0 auto;
}

div#controls div {
    float: left;
}

div#controls div#call-controls,
div#controls div#info {
    width: 16em;
    margin: 0 1.5em;
    text-align: center;
}

div#controls div#info div#output-selection {
    display: none;
}

div#controls div#info a {
    font-size: 1.1em;
    color: khaki;
    text-decoration: underline;
    cursor: pointer;
}

div#controls div#info select {
    width: 300px;
    height: 60px;
    margin-bottom: 2em;
}

div#controls div#info label {
    width: 300px;
}

div#controls div#call-controls div#volume-indicators {
    display: none;
    padding: 10px;
    margin-top: 20px;
    width: 500px;
    text-align: left;
}

div#controls div#call-controls div#volume-indicators>div {
    display: block;
    height: 20px;
    width: 0;
}

div#controls p.instructions {
    text-align: left;
    margin-bottom: 1em;
    font-family: Helvetica-LightOblique, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 1.25em;
    color: #777776;
}

div#controls div#info #client-name {
    text-align: left;
    margin-bottom: 1em;
    font-family: "Helvetica Light", Helvetica, sans-serif;
    font-size: 1.25em;
    color: #777776;
}

div#controls button {
    width: 15em;
    height: 2.5em;
    margin-top: 1.75em;
    border-radius: 1em;
    font-family: "Helvetica Light", Helvetica, sans-serif;
    font-size: .8em;
    font-weight: lighter;
    outline: 0;
}

div#controls button:active {
    position: relative;
    top: 1px;
}

div#controls div#call-controls {
    display: none;
}

div#controls div#call-controls input {
    font-family: Helvetica-LightOblique, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 1em;
    width: 100%;
    height: 2.5em;
    padding: .5em;
    display: block;
}

div#controls div#call-controls button {
    color: #fff;
    background: 0 0;
    border: 1px solid #686865;
}

div#controls div#call-controls button#button-hangup {
    display: none;
}

div#controls div#log {
    border: 1px solid #686865;
    width: 35%;
    height: 9.5em;
    margin-top: 2.75em;
    text-align: left;
    padding: 1.5em;
    float: right;
    overflow-y: scroll;
}

div#controls div#log p {
    color: #686865;
    font-family: 'Share Tech Mono', 'Courier New', Courier, fixed-width;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-left: 1em;
    text-indent: -1.25em;
    width: 90%;
}

/*--------------------------------
    moved from main file
    */

#dialer_table {
    width: 100%;
    font-size: 1.5em;
}

#dialer_table tr td {
    text-align: center;
    height: 50px;
    width: 33%;
}


#dialer_table #button-call:hover {
    background-color: #009d00;
}

#dialer_table .dialer_num_tr td {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#dialer_table .dialer_num_tr td:nth-child(1) {
    border-right: 1px solid #fafafa;
}

#dialer_table .dialer_num_tr td:nth-child(3) {
    border-left: 1px solid #fafafa;
}

#dialer_table .dialer_num_tr:nth-child(1) td,
#dialer_table .dialer_num_tr:nth-child(2) td,
#dialer_table .dialer_num_tr:nth-child(3) td,
#dialer_table .dialer_num_tr:nth-child(4) td {
    border-bottom: 1px solid #fafafa;
}

#dialer_table .dialer_num_tr .dialer_num {
    color: #0B559F;
    cursor: pointer;
}

#dialer_table .dialer_num_tr .dialer_num:hover {
    background-color: #fafafa;
}

#dialer_table .dialer_num_tr:nth-child(0) td {
    border-top: 1px solid #fafafa;
}

#dialer_table .dialer_del_td img {
    cursor: pointer;
}

.hide {
    display: none;
}

.call-btn,
.call-btn:hover {
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.call-btn:hover {
    opacity: 0.8;
}

.call-accept {
    background-color: green;
}

.call-reject {
    background-color: #c40606;
    display: none;
}

.hidden {
    display: none;
}

.dialpad-footer {
    margin-top: 20px;
}