/* EDITOR */

.focus-visible {
    outline: none;
}

.editable {
    position: relative;
}

.editable::before {
    content: '🖊';
    transition: .3s;
    opacity: 0;
    color: #000;
    visibility: hidden;
    font-size: 18px;
    position: absolute;
    top: -15px;
    right: -20px;
    z-index: 99;
}

.editable:hover::before {
    visibility: visible;
    opacity: 1;
}

.editable.is-editing::before {
    visibility: visible;
    opacity: 1;
}

.avatar-upload {
    position: relative;
}

.avatar-upload .avatar-edit {
    position: absolute;
    /* top: 10px; */
    /* right: 12px; */
    z-index: 100;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    margin-bottom: 0;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:after {
    content: "🖊";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: auto;
    z-index: 1000;
    transition: .3s;
    padding: 10px!important;
    background: #9F18F8;
    border-radius: 50%;
    line-height: 1;
}
.avatar-upload:hover .avatar-edit input+label:after {
    background: #fff;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    line-height: 1;
    color: #000;
}

.avatar-upload::before {
    content: "";
    width: 100%;
    height: 105%;
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0,.5);
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border-radius: 5px;
    transform: scale(.8);
}
.avatar-upload:hover::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.h-42 {
    height: 42px!important;
}

.integreted-app .app .avatar-upload {
    position: initial;
}
.app .avatar-upload .avatar-edit {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.app .avatar-upload .avatar-preview {
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.app .avatar-upload .avatar-edit input+label:after {
    background: #fff;
    color: #000;
}

.app .avatar-upload::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0,.5);
    z-index: 98;
    opacity: 1;
    visibility: visible;
    transition: .3s;
    /* border-radius: 5px; */
    transform: scale(.8);
}